@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.carousel-item {
    background-image: url("../img/home.jpg");
    background-size: cover;
    background-position: center;
}

.segunda-img {
    background-image: url("../img/about.jpg");
}

.terceira-img {
    background-image: url("../img/hero.jpeg");
}

.hero .carousel-item {
    height: 100vh;
    min-height: 300px;
    transition: transform 1s ease, opacity .5s ease-out;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
    left: 10%;
}

.carousel-caption h5 {
    font-size: 45px;
    margin-top: 45px;
    color: #08194a;
    font-weight: 700;
    text-align: left;
}

.carousel-caption h5 span {
    color: #e53f29;
}

.carousel-caption p {
    width: 60%;
    font-size: 18px;
    line-height: 1.8;
    color: #08194a;
    text-align: left;
}

.carousel-caption a {
    text-transform: uppercase;
    text-decoration: none;
    background: #08194a;
    padding: 5px 20px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
}

.section-header {
    margin-bottom: 20px;
}

.section-header h2 {
    color: #08194a;
    font-size: 45px;
    font-weight: 700;
}

.section-header h2 span {
    color: #e53f29;
}

.navbar-nav a {
    font-size: 16px;
    font-weight: 700;
}

.navbar-light .navbar-brand {
    color: #08194a;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand span {
    color: #e53f29;
}

.section-padding {
    padding: 80px 0; 
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: none;
    border: none;
}

.img-area img {
    width: 100% !important;
}

.about-text h2 {
    font-size: 45px;
    font-weight: 700;
    color: #08194a;
}

.about-text h2 span {
    color: #e53f29;
}

.about-text .btn {
    background: #08194a;
    color: #fff;
}

.botao {
    background: #e53f29;
    color: #fff;
    font-weight: 500;
    transition: all .2s ease-in;
}

.botao:hover {
    background: #fff;
    color: #08194a;
}

.loja {
    background: #08194a;
    color: #fff;
}

.loja h2 {
    color: #fff;
}

.single-services {
    background: #08194a;
    color: #fff;
    padding: 30px 15px;
}

.single-services i {
    font-size: 40px;
    margin-bottom: 30px;
}

.single-services h2 {
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

.choose-img img {
    width: 100%;
}

.containers {
    position: relative;
    max-width: 1350px;
    width: 100%;
    padding: 20px;
    margin: 50px auto;
}

.cards-gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cards {
    flex-basis: 300px;
    flex-grow: 1;
    background-color: #08194a;
    padding: 3px;
    border-radius: 8px;
    transition: all .4s ease-in;
}

.cards:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cards img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 8px 8px 0 0 ;
}

.card_body {
    padding: 15px 20px 20px;
}

.card_title {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.card_text {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}

.card_text span {
    color: #e53f29;
}

.card_text2 {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.text-social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 30px;
    gap: 10px;
}

.text-social a {
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px black;
    font-size: 20px;
    transition: all .1s ease-in;
}

.text-social a:hover {
    color: #ffffff7c;
}

.text-social i {
    color: #e53f29;
    font-size: 25px;
    margin-right: 5px;
    transition: all .1s ease-in;
}

.text-social i:hover {
    color: #e53f2963;
}

.text-loja {
    padding: 20px 30px;
}

.text-loja p {
    font-size: 20px;
}

.single-box {
    padding: 20px;
}

.single-box i {
    font-size: 35px;
    margin-bottom: 25px;
    color: #e53f29;
}

.single-box h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #08194a;
}

.imgBox {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 25px;
}

.imgBox img {
    width: 100%;
}

.single-client {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    padding: 30px 15px;
}

.single-client h2 {
    color: #08194a;
    font-family: 'Bebas Neue', sans-serif;
}

.single-client h5 {
    color: #08194a;
    font-weight: 600;
    font-size: 15px;
}

.single-client h5 span {
    font-size: 12px;
    text-transform: uppercase;
}

footer {
    background: #08194a;
    padding: 35px 0;
    color: #fff;
}

.socials i {
    font-size: 25px;
    margin:  0 15px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-text h2 {
        margin: 20px 0;
    }

    .single-services {
        margin-bottom: 30px;
    }

    .single-box {
        margin-bottom: 30px;
    }
    
    .single-client {
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-caption {
        bottom: 150px;
        margin-left: 20px;
    }

    .carousel-caption h5 {
        font-size: 30px;
    }

    .carousel-caption p {
        font-size: 15px;
    }

    .carousel-caption a {
        padding: 10px 15px;
    }

    .about-text h2 {
        font-size: 30px;
        margin: 15px 0;
    }

    .section-header h2 {
        font-size: 30px;
    }

    .single-services {
        margin-bottom: 30px;
    }

    .single-box {
        margin-bottom: 30px;
    }

    .single-client {
        margin-bottom: 35px;
    }

    .text-loja p {
        font-size: 20px;
    }
}