@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #2b2b2b;
}

.carousel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.91), rgba(0, 0, 0, 0.581)), url(../img/header.jpg);
    background-size: cover;
    background-position: center;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
    left: 8%;
    margin-left: 25px;
}

.carousel-caption h5 {
    font-size: 45px;
    color: #fff;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.carousel-caption h5 span {
    color: #e53f29;
}

.carousel-caption p {
    width: 60%;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.8;
    color: #fff;
    text-align: left;
}

.carousel-caption a {
    text-transform: uppercase;
    text-decoration: none;
    background: #ff8d39;
    padding: 5px 20px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    transition: .3s ease;
}
.carousel-caption a:hover {
    background: #e53f29;
}

.section-header {
    margin-bottom: 20px;
}

.section-header h2 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}

.section-header h2 span {
    color: #e53f29;
}

.section-header p {
    color: #fff;
}

.navbar {
    background: #1f1f1f;
}

.navbar-nav a {
    font-size: 18px;
    font-weight: 600;
    color: #ea4c31;
}
.navbar-nav a:hover {
    color: #ff8d39;
}

.navbar-nav a:active {
    color: #e53f29;
}

.navbar-img img {
    width: 150px;
    margin-right: 20px;
}

.navbar-toggler {
    background-color: #ff8d39!important;
}

.nome:hover {
    color: #ff8d39;
}


.navbar-light .navbar-brand img {
    width: 60px;
}

.section-padding {
    padding: 80px 0; 
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: none;
    border: none;
}

.img-area img {
    width: 100% !important;
}

.about-area {
    background: #2c2c2c;
}

.about-text h2 {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
}

.about-text h2 span {
    color: #ea4c31;
}

.about-text p {
    color: #ff8d39;
}

.about-text .btn {
    background: #ff8d39;
    color: #fff;
}

.btn:hover {
    background-color: #ea4c31;
}

.btn {
    background: #ff8d39;
    color: #fff;
    font-weight: 500;
    transition: all .2s ease-in;
    border: none;
}

.botao:hover {
    background: #fff;
    color: #08194a;
}

.loja {
    background: #292929;
    color: #fff;
}

.loja h2 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}

.loja span {
    color: #ea4c31;
}

.loja p {
    color: #fff;
    font-weight: 500;
}

.services {
    background: #292929;
}

.services .card {
    background-color: #e53f29;
    color: #fff;
    padding: 30px 15px;
}

.services .card h2{
    text-align: center;
    padding-bottom: 8px;
}

.services-card .card-subtitle {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.6em;
    text-align: center;
} 

.choose {
    background: #2c2c2c;
}

.choose-img img {
    width: 100%;
}

.choose-area .single-box h2 {
    color: #fff;
}

.containers {
    position: relative;
    max-width: 1350px;
    width: 100%;
    padding: 20px;
    margin: 50px auto;
}

.contact {
    background: #292929;
}
.contact p {
    color: #fff;
}

.text-social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 30px;
    gap: 10px;
}

.text-social a {
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px black;
    font-size: 20px;
    transition: all .1s ease-in;
}

.text-social a:hover {
    color: #ff8c3963;
}

.text-social i {
    color: #e53f29;
    font-size: 25px;
    margin-right: 5px;
    transition: all .1s ease-in;
}

.text-social i:hover {
    color: #e53f2963;
}

.text-loja {
    padding: 20px 30px;
}

.text-loja p {
    font-size: 20px;
}

.galeria {
    background: #2c2c2c;
}

.galeria .card {
    background: #1f1f1f;
    border: 1px solid #e53f29;
}

.galeria .card h5 {
    color: #fff;
    font-weight: 600;
}

.galeria .card p {
    color: #e53f29;
    font-weight: 500;
}

.card img {
    height: 250px;
}

.single-box {
    padding: 20px;
}

.single-box i {
    font-size: 35px;
    margin-bottom: 25px;
    color: #e53f29;
}

.single-box h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #08194a;
}

.imgBox {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 25px;
}

.imgBox img {
    width: 100%;
}

.testmonial{
    background: #2c2c2c;
}

.testmonial .single-client h2{
    color: #e53f29;
}

.testmonial .single-client p {
    color: #ff8d39;
}

.testmonial .single-client h5 {
    color: #ff8d39;
}

.testmonial .single-client span {
    color: #e53f29;
}

.single-client {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    padding: 30px 15px;
}

.single-client h2 {
    color: #08194a;
    font-family: 'Bebas Neue', sans-serif;
}

.single-client h5 {
    color: #08194a;
    font-weight: 600;
    font-size: 15px;
}

.single-client h5 span {
    font-size: 12px;
    text-transform: uppercase;
}

.contato-form {
    background: #262626
}

.contato-form textarea {
    resize: none;
}

.contato-form p {
    color: #ff8d39;
    font-size: 20px;
}

.contato-form label {
    color: #ff8d39;
}

footer {
    background: #2b2b2b;
}

footer a {
    color: #e53f29;
}

footer a:hover{
    color: #ff8d39;
}

@media only screen and (max-width: 1400px) {
    .services-card {
        height: 227.05px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-item {
        height: 90vh;
    }
    
    .carousel-caption h5 {
        font-size: 30px;
    }

    .carousel-caption p {
        font-size: 18px;
    }

    .carousel-caption a {
        font-size: 17px;
    }

    .about-text h2 {
        margin: 20px 0;
    }

    .services-card {
        margin-bottom: 30px;
    }

    .single-box {
        margin-bottom: 30px;
    }
    
    .single-client {
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-item {
        height: 90vh;
    }

    .carousel-caption {
        bottom: 150px;
        margin-left: 20px;
    }

    .carousel-caption h5 {
        font-size: 30px;
    }

    .carousel-caption p {
        font-size: 16px;
    }

    .about-text h2 {
        font-size: 30px;
        margin: 15px 0;
    }

    .section-header h2 {
        font-size: 30px;
    }

    .services-card {
        margin-bottom: 30px;
        height: 228px;
    }

    .services-card .card-subtitle {
        font-size: 1.4em;
    }

    .single-box {
        margin-bottom: 30px;
    }

    .single-client {
        margin-bottom: 35px;
    }

    .text-loja p {
        font-size: 20px;
    }

    .text-loja a {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 546px) {
    .carousel-caption h5{
        font-size: 27px;
    }

    .carousel-caption p {
        font-size: 13px;
    }

    .card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}